.search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 282px;
    background-color: #f5f6f7;
}

.search-result__not-found {
    margin-top: 86px;
    margin-bottom: 80px;
}