.search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: fit-content;
    background-color: #f5f6f7;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.search-result__not-found {
    margin-top: 86px;
    margin-bottom: 80px;
}

.search-result__news {
    margin: 0px 104px;
}

@media (max-width: 870px) {
    .search-result__news {
        margin: 40px 40px;
    }
}

@media (max-width: 420px) {
    .search-result__news {
        margin: 32px 16px;
    }
}