.copyright {
    margin: auto 0;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    font-family: 'Roboto', Helvetica, sans-serif;
    padding-top: 5px;
}

@media (max-width: 680px) {
    .copyright {
        order: 3;
    }
}

@media (max-width: 680px) {
    .copyright {
        order: 3;
        margin-top: 40px;
        margin-bottom: 22px;
    }
}