.circle-preloader {
	display: block;
	width: 74px;
	height: 74px;
	border: 4px solid rgb(121, 121, 121);
	border-bottom-color: rgb(177, 177, 177);
	
	border-radius: 50%;
	
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}