.card-comment__photo {
    height: 64px;
    width: 64px;
    border-radius: 100px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}


@media (max-width: 1200px) {
    .card-comment__photo {
        height: 48px;
        width: 48px;
    }
}