.technologies__item {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin-right: 34px;
}

.technologies__item:last-child {
    margin-right: 0;
}

.technologies__item::after {
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 8px;
}

.technologies__item:nth-child(1)::after {
    background-image: url(../../../images/html.png);
}

.technologies__item:nth-child(2)::after {
    background-image: url(../../../images/css.png);
}

.technologies__item:nth-child(3)::after {
    background-image: url(../../../images/js.png);
}

.technologies__item:nth-child(4)::after {
    background-image: url(../../../images/Group.png);
}

@media (max-width: 1090px) {
    .technologies__item {
        margin-right: 0;
    }
}