.search-form__input {
    border: 1px solid #d1d2d6;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    padding: 21px 170px 21px 24px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.search-form__input:focus {
    outline: none;
    border: 2px #2a65cc solid;
}

@media (max-width: 768px) {
    .search-form__input {
        height: 56px;
    }
}

@media (max-width: 450px) {
    .search-form__input {
        padding-right: 24px;
        margin-bottom: 16px;
    }
}