.search-form__input {
    border: 1px solid #d1d2d6;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    box-sizing: border-box;
    height: 64px;
    width: 600px;
    padding: 21px 170px 21px 24px;
    font-family: 'Roboto', Helvetica, sans-serif, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}