.news__card-paragraph {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 88px;
    margin: 0;
    /* display: -webkit-box; */
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

@media (max-width: 1200px) {
    .news__card-paragraph {
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 7;
        height: 150px;

    }
}

@media (max-width: 1110px) {
    .news__card-paragraph {
        margin-bottom: 12px;
        text-overflow: ellipsis;
        height: 150px;
        overflow: hidden;
    }
}

@media (max-width: 820px) {
    .news__card-paragraph {
        height: 88px;
        -webkit-line-clamp: 4;
    }
}