.about-me__title {
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin: 53.2px 0 22.2px 0;
}


@media (max-width: 1200px) {
    .about-me__title {
        margin-top: 0;
    }
}

@media (max-width: 820px) {
    .about-me__title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 16px;
    }
}

@media (max-width: 420px) {
    .about-me__title {
        text-align: left;
    }
}