.card-comment__email {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #1a1b22;
    text-decoration: none;
    font-style: normal;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}