@import url(./__photo/card-comment__photo.css);
@import url(./__date/card-comment__date.css);
@import url(./__email/card-comment__email.css);
@import url(./__name/card-comment__name.css);
@import url(./__paragraph/card-comment__paragraph.css);

.card-comment {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 16px;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: .25fr 1fr;
}

.card-comment:hover {
    box-shadow: rgb(8, 29, 45, .1) 10px 9px 50px;
}

@media (max-width: 1200px) {
    .card-comment {
        height: 242px;
        margin: 0;
        padding-right: 16px;
    }
}

@media (max-width: 420px) {
    .card-comment {
        height: 264px;
        margin: 0;
        margin-right: 0;
        padding-right: 16px;
        padding-left: 16px;
    }
}