@font-face {
    font-family: "Roboto";
    src: url(../vendor/roboto-regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(../vendor/roboto-medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url(../vendor/RobotoSlab-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url(../vendor/robotoslab-regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url(../vendor/sourcesanspro-regular.woff);
    font-weight: 600;
    font-style: normal;
}

@import url(../normolaize.css);
@import url(../blocks/header-index/header-index.css);
@import url(../blocks/nav-menu-header/nav-menu-header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/about-me/about-me.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/copyright/copyright.css);
@import url(../blocks/social/social.css);
@import url(../blocks/about-project/about-project.css);
@import url(../blocks/technologies/technologies.css);
@import url(../blocks/swiper/swiper.css);
@import url(../blocks/card-comment/card-comment.css);
@import url(../blocks/slaider/slaider.css);