.news__card {
    margin-right: 16px;
    background-color: #fff;
    height: 578px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.news__card:last-child {
    margin-right: 0;
}

.news__card:hover {
    box-shadow: rgb(8, 29, 45, .1) 10px 9px 50px;
}


@media (max-width: 820px) {
    .news__card {
        height: fit-content;
        margin-right: 8px;
    }
}

@media (max-width: 680px) {
    .news__card {
        margin-bottom: 8px;
        margin-right: 0;
    }
}
