.menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    color: #b6bcbf;
    box-sizing: border-box;
    padding-top: 6px;
    font-family: 'Roboto', Helvetica, sans-serif, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}