.news__card-title {
    margin: 12px 0 16px 0;
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    /* text-overflow: ellipsis; */
    overflow: hidden;
    height: 90px;
    display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

@media (max-width: 870px) {
    .news__card-title {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 10px;
        height: 80px;
    }
}