@import url(./__item/bread-crumbs__item.css);
@import url(./__link/bread-crumbs__link.css);
.bread-crumbs {
    list-style: none;
    padding-left: 104px;
    display: flex;
    box-sizing: border-box;
}