@import url(./__item/menu__item.css);
@import url(./__link/menu__link.css);
@import url(./__link/menu__link_active.css);
.menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}