<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
    <header class="header-index">
        <nav class="nav-menu-header nav-menu-header_theme_white">
            <h1 class="logo"><a href="./index.html" class="logo__link logo_theme_white">NewsAnalyzer</a></h1>
            <ul class="menu menu_theme_white">
                <li class="menu__item menu__item"><a href="./index.html" class="menu__link menu__link_theme_white menu__link_active">Главная</a></li>
                <li class="menu__item"><a href="./about.html" class="menu__link menu__link_theme_white">О проекте</a></li>
            </ul>
        </nav>
        <section class="search header-index__search">
            <h2 class="search__title">Что в мире творится?</h2>
            <p class="search__paragraph"> Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за прошедшую неделю.</p>
            <form action="" method="get" class="search-form search__search-form">
                <input type="text" class="search-form__input" placeholder="Введите тему новости">
                <button class="search-form__button">Искать</button>
            </form>
        </section>
    </header>
    <main class="main">
        <section class="search-result">
            <div class="preloader" style="display: none;">
                <i class="preloader__circle"></i>
                <p class="preloader__paragraph">Идет поиск новостей...</p>
            </div>
            <div class="not-found search-result__not-found" style="display: none;">
                <img src="<%=require('./images/not-found_v1.png').default%>" alt="">
                <h2 class="not-found__title">Ничего не найдено</h2>
                <p class="not-found__paragraph">К сожалению по вашему запросу ничего не найдено.</p>
            </div>
            <div class="news search-result__news">

                <div class="news__text-wrapper">
                    <h2 class="news__title">Результаты поиска</h2>
                    <a href="" class="news__link-analitics">Посмотреть аналитику &Tab; &Tab;</a>
                </div>

                <ul class="news__list">
                    <li class="news__card">
                        <img src="<%=require('./images/image_08.jpg').default%>" alt="" class="news__card-image">
                        <div class="news__news-text-wrapper">
                            <time class="news__card-date">2 августа, 2019</time>
                            <h2 class="news__card-title">Национальное достояние – парки</h2>
                            <p class="news__card-paragraph">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв...</p>
                            <address class="news__card-newspaper">Лента.ру</address>
                        </div>
                    </li>
                    <li class="news__card">
                        <img src="<%=require('./images/image_08.jpg').default%>" alt="" class="news__card-image">
                        <div class="news__news-text-wrapper">
                            <time class="news__card-date">2 августа, 2019</time>
                            <h2 class="news__card-title">Национальное достояние – парки</h2>
                            <p class="news__card-paragraph">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв...</p>
                            <address class="news__card-newspaper">Лента.ру</address>
                        </div>
                    </li>
                    <li class="news__card">
                        <img src="<%=require('./images/image_08.jpg').default%>" alt="" class="news__card-image">
                        <div class="news__news-text-wrapper">
                            <time class="news__card-date">2 августа, 2019</time>
                            <h2 class="news__card-title">Национальное достояние – парки</h2>
                            <p class="news__card-paragraph">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв...</p>
                            <address class="news__card-newspaper">Лента.ру</address>
                        </div>
                    </li>
                </ul>

                <!-- <ul class="news__list">
                    <li class="news__card">
                        <img src="<%=require('./images/image_08.jpg').default%>" alt="" class="news__card-image">
                        <div class="news__news-text-wrapper">
                            <time class="news__card-date">2 августа, 2019</time>
                            <h2 class="news__card-title">Национальное достояние – парки</h2>
                            <p class="news__card-paragraph">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                            парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                            <address class="news__card-newspaper">Лента.ру</address>
                        </div>
                    </li>
                    <li class="news__card">
                        <img src="<%=require('./images/image_08.jpg').default%>" alt="" class="news__card-image">
                        <div class="news__news-text-wrapper">
                            <time class="news__card-date">2 августа, 2019</time>
                            <h2 class="news__card-title">Национальное достояние – парки</h2>
                            <p class="news__card-paragraph">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                            парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                            <address class="news__card-newspaper">Лента.ру</address>
                        </div>
                    </li>
                    <li class="news__card">
                        <img src="<%=require('./images/image_08.jpg').default%>" alt="" class="news__card-image">
                        <div class="news__news-text-wrapper">
                            <time class="news__card-date">2 августа, 2019</time>
                            <h2 class="news__card-title">Национальное достояние – парки</h2>
                            <p class="news__card-paragraph">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных
                            парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                            <address class="news__card-newspaper">Лента.ру</address>
                        </div>
                    </li>
                </ul> -->
                <button class="news__button">Показать еще</button>

            </div>
        </section>
        <section class="about-me">
            <img src="<%=require('./images/W-xWCeWyze8.jpg').default%>" alt="" class="about-me__photo">
            <div class="about-me__text-wrapper">
                <h2 class="about-me__title">Об авторе</h2>
                <p class="about-me__paragraph">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
                <p class="about-me__paragraph">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <span class="copyright">&COPY; 2020 Supersite</span>
        <nav class="nav-menu-footer">
            <ul class="menu footer__menu">
                <li class="menu__item menu__item_place_footer"><a href="./index.html" class="menu__link menu__link_theme_black">Главная</a></li>
                <li class="menu__item menu__item_place_footer"><a href="./about.html" class="menu__link menu__link_theme_black">О проекте</a></li>
                <li class="menu__item menu__item_place_footer"><a href="https://praktikum.yandex.ru/" class="menu__link menu__link_theme_black" target="_blank">Яндекс.Практикум</a></li>
            </ul>
        </nav>
        <ul class="social footer__social">
            <li class="social__item">
                <a href="" class="social__link social__link_face"></a>
            </li>
            <li class="social__item">
                <a href="" class="social__link social__link_git"></a>
            </li>
        </ul>
    </footer>
    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>