@font-face {
    font-family: "Roboto";
    src:url(./vendor/roboto-regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src:url(./vendor/roboto-medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src:url(./vendor/robotoslab-regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src:url(./vendor/sourcesanspro-regular.woff);
    font-weight: bold;
    font-style: normal;
}

@import url(./normolaize.css);
@import url(./blocks/header/header.css);
@import url(./blocks/nav-menu-header/nav-menu-header.css);
@import url(./blocks/menu/menu.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/search/search.css);
@import url(./blocks/search-form/search-form.css);
@import url(./blocks/preloader/preloader.css);
@import url(./blocks/search-result/search-result.css);
@import url(./blocks/main/main.css);
@import url(./blocks/about-me/about-me.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/copyright/copyright.css);
@import url(./blocks/social/social.css);