@import url(./__title/technologies__title.css);
@import url(./__list/technologies__list.css);
@import url(./__item/technologies__item.css);
.technologies {
    height: 334px;
    display: flex;
    align-items: center;
}