.header {
    background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 576px;
    max-width: 1440px;
    color: #fff;
    margin: auto;
}

.header__search {
    margin: 80px auto 0 auto;
}